/* ---------------------------- [ Global ] */
:root {
	/* Change Border Width */
	--ss-new-border-width: calc(var(--ss-space-sm) * 0.95);

	/* Change VIP Accent */
	--ss-vip: #f4c843;

	/* Limited Border */
	--ss-limited-border: #89097D;

	/* Yolker Colors */
	--ss-ny0: #F1C59A; /* ss-yolk0 */
	--ss-ny1: #D97611; /* ss-yolk2 */

	/* Notif Colors */
	--ss-notif0: #021340;
	--ss-notif1: #1A64FF;

	/* League Colors */
	--ss-league0: #400202;
	--ss-league1: #FF1A1A;

	/* Manual Colors */
	--ss-manual0: black;
	--ss-manual1: #434343;
	--ss-manual2: #A2A2A2;
	--ss-manual3: #B1B1B1;
}

/* --------------------------- [ Overrides ] */
/* Forces White Border on Custom Item Grid Elements */
#equip_grid .grid-item:hover,
#equip_grid .highlight {
	border-color: var(--ss-white) !important;
}

/* Makes Item Icon White */
#equip_grid .highlight i {
	color: var(--ss-white) !important;
}

/* Forces White Golden Egg Stroke on Custom Item Grid Elements */
#equip_grid .highlight .egg-stroke {
	fill: var(--ss-white) !important;
}

/* Brings Back Rounded Corners! (Item Grid Elements) */
#equip_grid .grid-item {
	border-width: var(--ss-new-border-width) !important;
	border-radius: var(--ss-space-lg) !important;
}

/* Brings Back Rounded Corners! (Weapon Class Buttons) */
.weapon_img {
	border-width: var(--ss-new-border-width) !important;
	border-radius: var(--ss-space-lg) !important;
}

/* Brings Back Rounded Corners! (Egg Color Selector) */
.egg-color-select {
	border-width: var(--ss-new-border-width) !important;
	border-radius: var(--ss-space-lg) !important;
}

/* Brings Back Rounded Corners! (Item Type Buttons) */
.ico_itemtype {
	border-width: var(--ss-new-border-width) !important;
	border-radius: var(--ss-space-lg) !important;
}

/* Rounded Youtube Thumbnails */
.ytube-item img {
	border-radius: var(--ss-space-sm) !important;
}

/* White Banner on Highlighted Items */
.highlight .equip-item-banner {
	background: white !important;
}

/* Fade In Item Icon + Banner */
.highlight .equip-vip-icon,
.highlight:not(.is-shop) .equip_smallprice i,
.highlight:not(.is-shop) .equip_smallprice div,
.highlight:not(.is-shop) .egg-stroke,
.highlight .equip-item-banner,
.highlight:not(.is-shop) .item-icon {
	transition: all .3s linear;
	z-index: 1 !important;
}

#equip_grid .grid-item:hover:not(.is-shop, .item-tag-default) {
	transition: all .3s linear;
}

/* --------------------------- [ Premium ] */
/* --------- Grid Slot */
/* Border */
#equip_grid .grid-item.is-premium {
	border-color: var(--ss-premium-txt);
}
/* $ Pricetag + Egg Spinner + Special Icon */
.grid-item.is-premium div i:not(.fa-dollar-sign),
.is-premium .item-icon,
.premium-item-cost {
	color: var(--ss-premium-txt);
}
/* Highlight */
#equip_grid .is-premium.highlight {
	background: radial-gradient(#f2f047, #d5ed40, #b7e93d, #97e53f, #71e044, #5ad744, #40cd44, #19c444, #14b43c, #0fa535, #0a962d, #048726) !important;
}

/* --------- Tooltip */
/* Triangles */
.tool-tip.premium > span:after,
.tool-tip.premium div.tool-tip--bubble:after {
	border-top: 1rem solid var(--ss-premium);
	filter: drop-shadow(4px 4px 0 var(--ss-premium-txt)) !important; 
}
/* Text */
.tool-tip.premium h4 {
	color: var(--ss-premium-txt) !important;
}

/* Background */
.tool-tip.premium span {
	background: var(--ss-premium);
}

/* Background Shadow */
.tool-tip.premium > span,
.tool-tip.premium div.tool-tip--bubble,
.tool-tip.premium > span:after,
.tool-tip.premium div.tool-tip--bubble:after {
	box-shadow: 0.25em 0.25em 0em 0.1em var(--ss-premium-txt);
}



/* --------------------------- [ VIP ] */
/* --------- Grid Slot */
#equip_grid .grid-item.is-vip {
	border-color: var(--ss-vip-txt);
}
#equip_grid .is-vip.highlight {
	background: radial-gradient(#ffe180, #ffd759, #f4c843, #eab82a, #dfa900, #c79200, #ae7d00) !important;
}

/* --------- Tooltip */
.tool-tip.vip > span:after,
.tool-tip.vip div.tool-tip--bubble:after {
	border-top: 1rem solid var(--ss-vip);
	filter: drop-shadow(4px 4px 0 var(--ss-vip-txt)) !important; 
}
.grid-item.is-vip div .item-icon,
.tool-tip.vip h4 {
	color: var(--ss-vip-txt) !important;
}
.tool-tip.vip span.display-grid {
	background: var(--ss-vip);
}
.tool-tip.vip > span,
.tool-tip.vip div.tool-tip--bubble,
.tool-tip.vip > span:after,
.tool-tip.vip div.tool-tip--bubble:after {
	box-shadow: 0.25em 0.25em 0em 0.1em var(--ss-vip-txt);
}

/* VIP ICON */
#equip_grid .equip-vip-icon {
	 width: 1.5em;
	 height: 1.5em;
	 margin-left: .15em;
}

#equip_grid .highlight .equip-vip-icon {
	fill: white;
}



/* --------------------------- [ Merch ] */
/* --------- Grid Slot */
#equip_grid .grid-item.is-merch {
	background: linear-gradient(var(--ss-yolk0), var(--ss-brown));
	border-color: var(--ss-brown);
}
.is-merch .equip-item-banner {
	color: var(--ss-brown);
	background: var(--ss-yolk0);
	padding-left: 2.8em;
	padding-right: 2.8em;
	padding-top: .4em 2.8em;
}
#equip_grid .is-merch.highlight {
	background: radial-gradient(var(--ss-yolk0), var(--ss-brown)) !important;
}

/* --------- Tooltip */
.tool-tip.merch > span:after,
.tool-tip.merch div.tool-tip--bubble:after {
	border-top: 1rem solid var(--ss-yolk0);
	filter: drop-shadow(4px 4px 0 var(--ss-brown)) !important; 
}
.grid-item.is-merch div i,
.is-merch .item-icon,
.tool-tip.merch h4 {
	color: var(--ss-brown) !important;
}
.tool-tip.merch span {
	background: var(--ss-yolk0);
}
.tool-tip.merch > span,
.tool-tip.merch div.tool-tip--bubble,
.tool-tip.merch > span:after,
.tool-tip.merch div.tool-tip--bubble:after {
	box-shadow: 0.25em 0.25em 0em 0.1em var(--ss-brown);
}



/* --------------------------- [ Limited ] */
/* --------- Grid Slot */
#equip_grid .grid-item.item-tag-limited {
	border-color: var(--ss-limited-border);
}
#equip_grid .item-tag-limited.highlight {
	background: radial-gradient(#ffbfed, #ffa8e6, #ff90df, #ff76d6, #ff57cd, #f945c4, #e000a9, #d2009f, #c50095) !important;
}
.grid-item.item-tag-limited div i:not(.fa-dollar-sign),
.item-tag-limited .item-icon,
.item-tag-limited .equip_cost {
	color: var(--ss-limited-border);
}
#equip_grid .item-tag-limited .egg-stroke {
	fill: var(--ss-limited-border);
}
.item-tag-limited .equip-item-banner {
	padding: 0.3em 2.4em;
}

/* --------- Tooltip */
.tool-tip.limited > span:after,
.tool-tip.limited div.tool-tip--bubble:after {
	border-top: 1rem solid var(--ss-limited);
	filter: drop-shadow(4px 4px 0 var(--ss-limited-txt)) !important; 
}
.tool-tip.limited h4 {
	color: var(--ss-limited-txt) !important;
}
.tool-tip.limited span:not(.egg-price-egg) {
	background: var(--ss-limited);
}
.tool-tip.limited > span,
.tool-tip.limited div.tool-tip--bubble,
.tool-tip.limited > span:after,
.tool-tip.limited div.tool-tip--bubble:after {
	box-shadow: 0.25em 0.25em 0em 0.1em var(--ss-limited-txt);
}

/* --------------------------- [ Twitch Drops ] */
/* --------- Grid Slot */
#equip_grid .grid-item.is-drops {
	background: linear-gradient(to right bottom, var(--twitch-lt-purple), var(--twitch-dk-purple));
	border-color: var(--twitch-dk-purple);
}
.is-drops .equip-item-banner {
	color: var(--twitch-dk-purple);
	background: var(--twitch-lt-purple);
	padding-left: 2.8em;
	padding-right: 2.8em;
	padding-top: .4em 2.8em;
}
#equip_grid .is-drops.highlight {
	background: radial-gradient(var(--twitch-lt-purple), var(--twitch-dk-purple)) !important;
}

/* --------- Tooltip */
.tool-tip.drops > span:after,
.tool-tip.drops div.tool-tip--bubble:after {
	border-top: 1rem solid var(--twitch-lt-purple);
	filter: drop-shadow(4px 4px 0 var(--twitch-dk-purple)) !important; 
}
.grid-item.is-drops div i,
.is-drops .item-icon,
.tool-tip.drops h4 {
	color: var(--twitch-dk-purple) !important;
}
.tool-tip.drops span {
	background: var(--twitch-lt-purple);
}
.tool-tip.drops > span,
.tool-tip.drops div.tool-tip--bubble,
.tool-tip.drops > span:after,
.tool-tip.drops div.tool-tip--bubble:after {
	box-shadow: 0.25em 0.25em 0em 0.1em var(--twitch-dk-purple);
}



/* --------------------------- [ New Yolker ] */
/* --------- Grid Slot */
#equip_grid .grid-item.is-ny {
	background: linear-gradient(to right bottom, var(--ss-ny0), var(--ss-ny1));
	border-color: var(--ss-ny1);
}
.is-ny .equip-item-banner {
	color: var(--ss-ny1);
	background: var(--ss-ny0);
	padding-left: 2.8em;
	padding-right: 2.8em;
	padding-top: .4em 2.8em;
}
#equip_grid .is-ny.highlight {
	background: radial-gradient(var(--ss-ny0), var(--ss-ny1)) !important;
}

/* --------- Tooltip */
.tool-tip.ny > span:after,
.tool-tip.ny div.tool-tip--bubble:after {
	border-top: 1rem solid var(--ss-ny0);
	filter: drop-shadow(4px 4px 0 var(--ss-ny1)) !important; 
}
.grid-item.is-ny div i,
.is-ny .item-icon,
.tool-tip.ny h4 {
	color: var(--ss-ny1) !important;
}
.tool-tip.ny span {
	background: var(--ss-ny0);
}
.tool-tip.ny > span,
.tool-tip.ny div.tool-tip--bubble,
.tool-tip.ny > span:after,
.tool-tip.ny div.tool-tip--bubble:after {
	box-shadow: 0.25em 0.25em 0em 0.1em var(--ss-ny1);
}



/* --------------------------- [ Notification ] */
/* --------- Grid Slot */
#equip_grid .grid-item.is-notif {
	background: linear-gradient(to right bottom, var(--ss-notif1), var(--ss-notif0));
	border-color: var(--ss-notif0);
}
.is-notif .equip-item-banner {
	color: var(--ss-notif0);
	background: var(--ss-notif1);
	padding-left: 2.8em;
	padding-right: 2.8em;
	padding-top: .4em 2.8em;
}
#equip_grid .is-notif.highlight {
	background: radial-gradient(var(--ss-notif1), var(--ss-notif0)) !important;
}

/* --------- Tooltip */
.tool-tip.notif > span:after,
.tool-tip.notif div.tool-tip--bubble:after {
	border-top: 1rem solid var(--ss-notif1);
	filter: drop-shadow(4px 4px 0 var(--ss-notif0)) !important; 
}
.grid-item.is-notif div i,
.is-notif .item-icon,
.tool-tip.notif h4 {
	color: var(--ss-notif0) !important;
}
.tool-tip.notif span {
	background: var(--ss-notif1);
}
.tool-tip.notif > span,
.tool-tip.notif div.tool-tip--bubble,
.tool-tip.notif > span:after,
.tool-tip.notif div.tool-tip--bubble:after {
	box-shadow: 0.25em 0.25em 0em 0.1em var(--ss-notif0);
}



/* --------------------------- [ League ] */
/* --------- Grid Slot */
#equip_grid .grid-item.is-league {
	background: linear-gradient(to right bottom, var(--ss-league1), var(--ss-league0));
	border-color: var(--ss-league0);
}
.is-league .equip-item-banner {
	color: var(--ss-league0);
	background: var(--ss-league1);
	padding-left: 2.8em;
	padding-right: 2.8em;
	padding-top: .4em 2.8em;
}
#equip_grid .is-league.highlight {
	background: radial-gradient(var(--ss-league1), var(--ss-league0)) !important;
}

/* --------- Tooltip */
.tool-tip.league > span:after,
.tool-tip.league div.tool-tip--bubble:after {
	border-top: 1rem solid var(--ss-league1);
	filter: drop-shadow(4px 4px 0 var(--league0)) !important; 
}
.grid-item.is-league div i,
.league .item-icon,
.tool-tip.league h4 {
	color: var(--ss-league0) !important;
}
.tool-tip.league span {
	background: var(--ss-league1);
}
.tool-tip.league > span,
.tool-tip.league div.tool-tip--bubble,
.tool-tip.league > span:after,
.tool-tip.league div.tool-tip--bubble:after {
	box-shadow: 0.25em 0.25em 0em 0.1em var(--ss-league0);
}



/* --------------------------- [ Manual ] */
/* --------- Grid Slot */
#equip_grid .grid-item.is-manual {
	background: linear-gradient(to right bottom, var(--ss-manual3), var(--ss-manual2), var(--ss-manual1), var(--ss-manual0));
	border-color: var(--ss-manual0);
}
.is-manual .equip-item-banner {
	color: var(--ss-manual0);
	background: var(--ss-manual3);
	padding-left: 2em;
	padding-right: 2em;
	padding-top: .4em 2.8em;
}
/* --- Special Items --- */
.item-tag-event .equip-item-banner {
	padding-left: 3em;
	padding-right: 3em;
}
.item-tag-promo .equip-item-banner {
	padding-left: 2.8em;
	padding-right: 2.8em;
}
.item-tag-social .equip-item-banner {
	padding-left: 2.9em;
	padding-right: 2.9em;
}
.is-egglite .equip-item-banner {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

#equip_grid .is-manual.highlight {
	background: radial-gradient(var(--ss-manual3), var(--ss-manual2), var(--ss-manual1), var(--ss-manual0)) !important;
}
/* Changes manual Item Shadow Color to Black */
.is-manual .equip_icon, 
.is-manual .giveStuffPopup-content .equip_icon {
	filter: drop-shadow(0 2mm 0 rgba(0, 0, 0, .4)) !important;
}

/* --------- Tooltip */
.tool-tip.manual > span:after,
.tool-tip.manual div.tool-tip--bubble:after {
	border-top: 1rem solid var(--ss-manual2);
	filter: drop-shadow(4px 4px 0 var(--ss-manual0)) !important; 
}
.grid-item.is-manual div i,
.is-manual .item-icon,
.tool-tip.manual h4 {
	color: var(--ss-manual0) !important;
}
.tool-tip.manual span {
	background: var(--ss-manual2);
}
.tool-tip.manual > span,
.tool-tip.manual div.tool-tip--bubble,
.tool-tip.manual > span:after,
.tool-tip.manual div.tool-tip--bubble:after {
	box-shadow: 0.25em 0.25em 0em 0.1em var(--ss-manual0);
}



/* --------------------------- [ Content Creator ] */
/* ---------------- [ Youtube ] */
/* --------- Grid Slot */
#equip_grid .grid-item.is-creator-yt {
	background: linear-gradient(to right bottom, white, red);
	border-color: red;
}
.is-creator-yt .equip-item-banner {
	color: red;
	background: white;
	padding-left: 2.8em;
	padding-right: 2.8em;
	padding-top: .4em 2.8em;
}
#equip_grid .is-creator-yt.highlight {
	background: radial-gradient(white, red) !important;
}
.is-creator-yt .item-icon,
.is-creator-yt .equip_cost {
	color: red;
}
#equip_grid .is-creator-yt .egg-stroke {
	fill: red;
}

/* --------- Tooltip */
.tool-tip.ytcc > span:after,
.tool-tip.ytcc div.tool-tip--bubble:after {
	border-top: 1rem solid white;
	filter: drop-shadow(4px 4px 0 red) !important; 
}
.grid-item.is-creator-yt div i,
.tool-tip.ytcc h4 {
	color: red !important;
}
.tool-tip.ytcc span:not(.egg-price-egg) {
	background: white;
}
.tool-tip.ytcc > span,
.tool-tip.ytcc div.tool-tip--bubble,
.tool-tip.ytcc > span:after,
.tool-tip.ytcc div.tool-tip--bubble:after {
	box-shadow: 0.25em 0.25em 0em 0.1em red;
}


/* ---------------- [ Twitch ] */
/* --------- Grid Slot */
#equip_grid .grid-item.is-creator-twitch {
	background: linear-gradient(to right bottom, white, var(--ss-twitch));
	border-color: var(--ss-twitch);
}
.is-creator-twitch .equip-item-banner {
	color: var(--ss-twitch);
	background: white;
}
#equip_grid .is-creator-twitch.highlight {
	background: radial-gradient(white, var(--ss-twitch)) !important;
}
.is-creator-twitch .item-icon,
.is-creator-twitch .equip_cost {
	color: var(--ss-twitch);
}
#equip_grid .is-creator-twitch .egg-stroke {
	fill: var(--ss-twitch);
}

/* --------- Tooltip */
.tool-tip.twitchcc > span:after,
.tool-tip.twitchcc div.tool-tip--bubble:after {
	border-top: 1rem solid white;
	filter: drop-shadow(4px 4px 0 var(--ss-twitch)) !important; 
}
.grid-item.is-creator-twitch div i,
.tool-tip.twitchcc h4 {
	color: var(--ss-twitch) !important;
}
.tool-tip.twitchcc span:not(.egg-price-egg) {
	background: white;
}
.tool-tip.twitchcc > span,
.tool-tip.twitchcc div.tool-tip--bubble,
.tool-tip.twitchcc > span:after,
.tool-tip.twitchcc div.tool-tip--bubble:after {
	box-shadow: 0.25em 0.25em 0em 0.1em var(--ss-twitch);
}


/* ---------------- [ Normal Shop Item ] */
/* --------- Grid Slot */
.is-shop .item-icon {
	color: var(--ss-blue5);
}


/* ---------------------- [ Skin Search ] */
.inventory-skin-search input {
	width: 15.3em !important;
}

.shop-skin-search input {
	width: 19em !important;
}

.shop-skin-search label i {
	top: -0.8em;
	right: 0.1em !important;
}

.inventory-skin-search label {
	right: 4.2em !important;
}

.limited-msg-wrapper {
	margin-bottom: .6em !important;
}

.inventory-skin-search button {
		text-align: center !important;
		margin-left: 0.5em;
		width: 2.5em;
		height: 2.5em;
}

.shop-skin-search input,
.inventory-skin-search input {
		margin-bottom: 1em;
		border-width: var(--ss-new-border-width) !important;
		border-radius: var(--ss-space-lg) !important;
}

.random-button {
	position: relative;
	top: 0.122em;
	right: 0.2em;
}

#player_photo {
	margin-top: var(--ss-space-sm); 
	margin-right: var(--ss-space-lg);
}

#player_photo img {
	max-width: 4em; 
	max-height: 4em; 
	border: 2px solid var(--ss-blue5) !important;
}

.profile-page-content aside {
	text-align: right;
}


.profile-badge-container {
	text-align: center; 
	background: var(--ss-blue2) !important; 
	margin-top: 0.1em !important; 
	margin-bottom: 0.3em !important; 
	padding: 0.3em 0.6em 0.3em !important;
	min-width: 10.3em;
}

.shorter-stats-container {
	height: 27em !important;
}

.badge-vip {
	color: gold;
}

.badge-wizard {
	color: var(--ss-blue5);
}

.badge-eggforcer {
	background-clip: text !important; 
	-webkit-background-clip: text !important; 
	-webkit-text-fill-color:transparent; 
	background: linear-gradient( to bottom right, white, #eee, #bcc6cc, #a5b0b6);
}

.badge-social0 {
	color: #1877F2;
}

.badge-social1 {
	background-clip: text !important; 
	-webkit-background-clip: text !important; 
	-webkit-text-fill-color:transparent; 
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.badge-social2 {
	color: black;
}

.badge-social3 {
	color: #5539CC;
}

.badge-social4 {
	color: red;
}

.badge-social5 {
	color: black;
}

.badge-social6 {
	color: var(--ss-twitch);
}

.badge-separator {
	color: var(--ss-blue5);
	margin-left: 0.75em; 
	margin-right: 0.75em;
}

.badge-margin {
	margin-right: 0.5em;
}

@font-face {
  font-family: 'Font Awesome 6 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/webfonts/fa-brands-400.woff2") format("woff2"), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/webfonts/fa-brands-400.ttf") format("truetype"); 
}

.fa-twitter:before {
	font-family: "Font Awesome 6 Brands";
	content:"\e61b" !important;
}

.fa-discord:before {
	font-family: "Font Awesome 6 Brands";
	content: "\f392" !important;
}

.badge-hover:hover {
	transition: all .2s ease-out;
	transform: translateY(-.1em) scale(1.1);
}

.badge-hover:hover:not(.badge-hover-alt) {
	color: white;
}

.badge-hover {
	transition: all .5s linear;
	transform: scale(1.0);
}

.badge-hover-alt:hover {
	background: white;
}

.equip_smallprice {
	z-index: 1 !important;
}

.equip-vip-icon {
	position: relative !important;
}

.item-icon {
	padding-top: 0.3em;
	padding-left: 0.2em;
	position: relative !important;
}

.badge-og {
	background-clip: text !important; 
	-webkit-background-clip: text !important; 
	-webkit-text-fill-color:transparent; 
	background: linear-gradient( to bottom right, #BA9368, #C49E76, #CEA984, #D9B393, #E3BEA1);
}

.badge-pandemic {
	background-clip: text !important; 
	-webkit-background-clip: text !important; 
	-webkit-text-fill-color:transparent; 
	background: linear-gradient( to bottom right, white, #eee, #bcc6cc, #a5b0b6);
}

.badge-supporter {
	background-clip: text !important; 
	-webkit-background-clip: text !important; 
	-webkit-text-fill-color:transparent; 
	background: linear-gradient( to right, #3e9c35, #168118, #157811, #036704, #084f09);
}
